# --------------- #
# IntelliJ #
# --------------- #
.idea/
**/*.iml

# VSCode directory
.vscode

# Node
node_modules

# Gitbook
_book

# Gitbook UML
**/uml

# MacOs
.DS_Store

*.log

*.jar
API-html-to-markdown.md
API-pdf-to-word.docx
API-word-to-html.html
